<section class="bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7 md:mx-auto">
            <h1
                class="max-w-2xl mb-4 text-3xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-center lg:text-left text-white">
                Experience the Future with 1080p Technology</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-400 lg:mb-8 md:text-lg text-center lg:text-left lg:text-xl">
                Your trusted partner in bringing the most sophisticated and latest electronics right to your doorstep.
            </p>
            <div class="flex justify-center items-center lg:justify-start">
                <a href="/viewAll"
                    class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-900">
                    Shop Now
                    <i class="fa-solid fa-arrow-right fa-l ml-2"></i>
                </a>
            </div>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="img/iphone.png" alt="mockup">
        </div>
    </div>
</section>
<div class="flex justify-center">
    <!-- Bao -->
    <section
        class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 items-center justify-items-center gap-y-10 mt-2 mb-5 mx-auto md:max-w-xl lg:max-w-full lg:mx-0">
        <h2 class="col-span-full text-center text-4xl mb-4 md:text-5xl font-bold md:mb-8">Trending Products</h2>
        <% products.forEach(function(product){ %>
            <div class="bg-gray-100 shadow-sm rounded-lg w-3/4 md:max-w-sm flex flex-col relative">
                <a href="<%= navigatePage(" product", product._id) %>">
                    <img src="<%= product.image %>" alt="<%= product.name %>"
                        class="w-full h-48 object-cover rounded-t-lg">
                </a>
                <div class="p-3 flex flex-col gap-2 h-auto flex-grow">
                    <h3 class="text-lg font-bold line-clamp-1 text-gray-800">
                        <%= product.name %>
                    </h3>
                    <p class="text-sm text-gray-500 line-clamp-1 mt-0">
                        <%= product.category %>
                    </p>
                    <h4 class="text-red-600 line-clamp-1 font-semibold mt-0">
                        <%= product.price %> ₫
                            <span class="<%= product.stock > 0 ? 'text-green-600' : 'text-red-600' %> font-semibold">
                                - <%= product.stock> 0 ? product.stock + ' In Stock' : 'Out of Stock' %>
                            </span>
                    </h4>
                    <p class="text-sm text-gray-800 mb-10 line-clamp-1 md:line-clamp-2">
                        <%= product.description %>
                    </p>
                </div>
                <div class="absolute bottom-4 left-4 text-blue-600 hover:text-blue-800 cursor-pointer"
                    title="View Products">
                    <a href="<%= navigatePage(" product", product._id) %>"> Details →</a>
                </div>
                <% if (user?.user?.role=='customer' ) { %>
                    <div class="absolute bottom-5 right-4 text-blue-600" title="Add To Cart">
                        <i class="fa-solid fa-cart-plus fa-xl"></i>
                    </div>
                    <% } %>
            </div>
            <% }); %>
    </section>
</div>