<!-- RMIT University Vietnam 
Course: COSC2430 Web Programming 
Semester: 2023B
Assessment: Assignment 2 
Authors:  Tran Mai Nhung - s3879954          
          Tran Nguyen Ha Khanh - s3877707          
          Nguyen Vinh Gia Bao - s3986287          
          Ton That Huu Luan - s3958304          
          Ho Van Khoa - s3997024 
Acknowledgement:  -->
<div id="<%= modalId %>" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden 
    p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="<%= modalId %>">
        <i class="fa-solid fa-x"></i>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-6 text-center">
        <%- contentIcon %>
          <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
            <%= contentTitle %>
          </h3>
          <form action="<%= actionUrl %>" method="<%= actionMethod %>">
            <button data-modal-hide="<%= modalId %>" type="submit"
              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
              <%= contentAccept %>
            </button>
            <button data-modal-hide="<%= modalId %>" type="button"
              class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No,
              cancel</button>
          </form>
      </div>
    </div>
  </div>
</div>