<header>
  <nav class="border-gray-200 px-4 py-4 lg:px-6 bg-gray-800 rounded-b-3xl">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl space-x-4">
      <a href="/" class="flex items-center">
        <img src="/img/1.png" class="mr-3 w-32 block" alt="1080P Logo" />
      </a>
      <div class="flex items-center gap-3 lg:order-2">
        <button id="searchBtn" class="flex items-center justify-center p-2">
          <i class="fa fa-search text-2xl hover:text-gray-200"></i>
        </button>
        <% if (isLogin) { %>
          <a href="<%= navigatePage(" my-account") %>"><i class="fa-solid fa-user fa-2xl"></i></a>
          <a href="<%= navigatePage(" cart") %>"><i class="fa-solid fa-cart-shopping fa-2xl"></i></a>
          <% } else { %>
            <a href="<%= navigatePage(" login") %>"
              class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2 bg-blue-600 hover:bg-blue-700
              focus:outline-none focus:ring-blue-800">Log
              in</a>
            <% } %>
              <button data-collapse-toggle="mobile-menu-2" type="button"
                class="inline-flex items-center p-2 ml-1 text-sm rounded-lg lg:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
                aria-controls="mobile-menu-2" aria-expanded="false" id="navBarButton">
                <i class="fa-solid fa-bars fa-2x"></i>
              </button>
      </div>
      <div class="hidden flex-grow justify-center items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-2 lg:space-y-0 space-y-4 lg:mt-0">
          <% if (user.user.role==='customer' ) { %>
            <li>
              <a href="/" class="block py-2 px-4 mr-6 rounded
              <%= activePage === 'products' ? 'bg-primary-700 text-white' : 'bg-transparent text-gray-400' %>"
                <%=activePage==='products' ? 'aria-current="page"' : '' %>">VIEW ALL PRODUCTS</a>
            </li>
            <% } else if (user.user.role==='vendor' ) { %>
              <li>
                <a href="/vendor-dashboard"
                  class="block py-2 px-4 mr-6 rounded <%= activePage === 'products' ? 'bg-primary-700 text-white' : 'bg-transparent text-gray-400' %>"
                  <%=activePage==='products' ? 'aria-current="page"' : '' %>">DASHBOARD</a>
              </li>
              <li>
                <a href="/new-product"
                  class="block py-2 px-4 mr-6 rounded <%= activePage === 'products' ? 'bg-primary-700 text-white' : 'bg-transparent text-gray-400' %>"
                  <%=activePage==='products' ? 'aria-current="page"' : '' %>">ADD NEW PRODUCT</a>
              </li>
              <% } else if (user.user.role==='shipper' ) { %>
                <li>
                  <a href="/shipper-dashboard"
                    class="block py-2 px-4 mr-6 rounded <%= activePage === 'products' ? 'bg-primary-700 text-white' : 'bg-transparent text-gray-400' %>"
                    <%=activePage==='products' ? 'aria-current="page"' : '' %>">DASHBOARD</a>
                </li>
                <% } %>
        </ul>
      </div>
    </div>
    <div id="searchBar" class="hidden w-full bg-gray-800 px-4 py-4 rounded-b-3xl">
      <div class="mx-auto max-w-screen-xl flex items-center">
        <input type="text" class="outline-none border-none flex-grow rounded-l-lg text-sm h-12 pl-4 text-black"
          placeholder="Search..." />
        <button
          class="active:bg-blue-800 bg-blue-600 hover:bg-blue-700 text-white h-12 w-20 text-sm font-medium rounded-r-lg py-2.5 focus:outline-none focus:ring-blue-800">Search</button>
        <button id="closeSearchBtn" class="p-2 ml-4 text-white h-10 w-10">
          <i class="fas fa-times text-2xl hover:text-gray-200" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </nav>

</header>