<section>
    <div class="bg-gray-800 border-gray-700 py-3 px-9 my-6 rounded-lg mx-auto max-w-2xl lg:py-6">
        <h1 class="text-center font-bold text-3xl my-4">
            <%= title %>
        </h1>
        <form action="<%= navigatePage('product-add') %>" method="post" enctype="multipart/form-data">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <input type="text" name="vendor" id="vendor" value="<%= userId %>" hidden>
                </div>
                <div class="sm:col-span-2">
                    <%- include('../partials/input',{
                        type: "text",
                        name: "name",
                        id: "name",
                        label: 'Name',
                        placeholder: "Type product name",
                        minLength: 10,
                        maxLength: 50,
                        validationText: "Must be 10 to 50 characters"
                    }) %>
                </div>
                <div class="sm:col-span-2">
                    <%- include('../partials/input',{
                        type: "number",
                        name: "price",
                        id: "price",
                        label: 'Price',
                        placeholder: "$00000",
                        min: 0,
                        step: 0.01,
                        validationText: "Must be a positive number"
                    }) %>
                </div>
                <div class=" sm:col-span-2">
                    <%- include('../partials/input',{
                        type: "number",
                        name: "stock",
                        id: "stock",
                        label: 'Stock',
                        placeholder: "000",
                        min: 0,
                        step: 1,
                        validationText: "Must be a positive integer"
                    }) %>
                </div>
                <div class="sm:col-span-2">
                    <%- include('../partials/input',{
                        type: "file",
                        name: "image",
                        id: "image",
                        label: 'Product Image',
                        required: true
                    }) %>
                </div>
                <div class="col-span-1 lg:col-span-2">
                    <%- include('../partials/input',{
                        type: "textarea",
                        name: "description",
                        id: "description",
                        label: 'Description',
                        value: '',
                        rows: 8,
                        placeholder: "Your description here",
                        maxLength: 500,
                        validationText: "Maximum 500 characters"
                    }) %>
                </div>
            </div>
            <button type="submit"
                class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Add product
            </button>
        </form>
    </div>
</section>