<!-- RMIT University Vietnam 
Course: COSC2430 Web Programming 
Semester: 2023B
Assessment: Assignment 2 
Authors:  Tran Mai Nhung - s3879954          
          Tran Nguyen Ha Khanh - s3877707          
          Nguyen Vinh Gia Bao - s3986287          
          Ton That Huu Luan - s3958304          
          Ho Van Khoa - s3997024 
Acknowledgement:  -->
<div class="flex justify-center items-center flex-col py-24">
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 
  items-center justify-items-center 
  gap-x-10 gap-y-14 
  mt-2 mb-5
  md:max-w-2xl lg:max-w-full w-10/12 sm:w-9/12 md:w-5/6">
    <h1 class="col-span-full text-center text-4xl my-4 md:text-5xl font-bold md:mb-8">
      <%= title %>
    </h1>
    <% products.forEach(function(product){ %>
    <%- include('../product/product-card', {product, type: "vendor"}) %>
    <% }); %>
  </section>
  <nav aria-label="Page navigation example" class="flex justify-center my-6 w-full">
    <ul class="inline-flex -space-x-px text-sm">
      <li>
        <a href="<%= navigatePage("vendor-product-list", null, {...pageInfo, page: pageInfo.page - 1}) %>" class="flex
              items-center
              justify-center w-32 h-12 leading-tight border text-base font-bold rounded-l-lg bg-gray-100 border-gray-700
              text-neutral-600 hover:bg-gray-700 hover:text-white" <%= pageInfo.page==0 ? "disabled" : "" %>>Previous</a>
      </li>
      <li>
        <a href="<%= navigatePage("vendor-product-list", null, {...pageInfo, page: pageInfo.page + 1}) %>" class="flex
              items-center
              justify-center w-32 h-12 leading-tight border text-base font-bold rounded-r-lg bg-gray-100 border-gray-700
              text-neutral-600 hover:bg-gray-700 hover:text-white" <%= pageInfo.page==pageInfo.totalPage ? "disabled" : ""
                %>>Next</a>
      </li>
    </ul>
  </nav>
</div>