<!-- RMIT University Vietnam 
Course: COSC2430 Web Programming 
Semester: 2023B
Assessment: Assignment 2 
Authors:  Tran Mai Nhung - s3879954          
          Tran Nguyen Ha Khanh - s3877707          
          Nguyen Vinh Gia Bao - s3986287          
          Ton That Huu Luan - s3958304          
          Ho Van Khoa - s3997024 
Acknowledgement:  -->
<div class="text-center pt-24 pb-0">
    <p class="lg:text-5xl text-3xl font-medium">Order Summary</p>
    <p class="lg:text-xl mt-4 text-xl text-gray-400">Check your items before finish your order</p>
</div>
<section>
    <div class="sm:px-10 lg:px-20 xl:px-32 lg:flex lg:flex-row justify-between sm:flex-end">
        <div class="py-20 lg:mt-16 justify-items-center text-lg ">
            <% if (user?.user?.role==="customer" ) { %>
                <div
                    class="w-[400px] px-4 py-6 mx-auto bg-gray-800 mb:flex rounded-xl shadow-inner shadow-2 xl lg:ml-16">
                    <h3 class="text-2xl dark:text-white font-semibold text-gray-800 text-center ">Shipping Information
                    </h3>
                    <div class="flex flex-col md:flex-row xl:flex-col justify-start">
                        <div class="flex flex-col justify-start items-start">
                            <div
                                class="flex justify-center text-gray-800 dark:text-white md:justify-start items-center space-x-4 py-4 border-b border-gray-200 w-full">
                            </div>
                        </div>
                        <div class="mt-6 md:mt-0 lg:pl-5">

                            <div
                                class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start">

                                <div
                                    class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
                                    <p
                                        class="text-[22px] dark:text-white font-semibold leading-4 text-center md:text-left text-gray-800 mb:text-center mb:text-[30px]">
                                        Name</p>
                                    <p
                                        class="w-52 lg:w-full dark:text-gray-300 xl:w-48 text-center md:text-left text-md leading-5 text-gray-600">
                                        <%= user?.name %>
                                    </p>
                                </div>
                                <div
                                    class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
                                    <p
                                        class="text-[22px] dark:text-white font-semibold leading-4 text-center md:text-left text-gray-800 mb:text-center mb:text-[30px]">
                                        Shipping Address</p>
                                    <p
                                        class="w-52 lg:w-full dark:text-gray-300 xl:w-48 text-center md:text-left text-md leading-5 text-gray-600">
                                        <%= user?.address %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col justify-start items-start">
                            <div
                                class="flex justify-center text-gray-800 dark:text-white md:justify-start items-center space-x-4 py-4 border-b border-gray-200 w-full">
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between mt-14 ml-4 mb-12">
                        <p class="text-2xl font-bold text-white-900 ">Total</p>
                        <p class="text-xl font-semibold text-white-900 ">
                            123.33<span class="text-xs font-normal text-white-400">VND</span>
                        </p>
                    </div>
                    <form action="/order" method="post">
                        <div class="shipper-info role-info ml-4" id="hub">
                            <div class="inputBox flex flex-col">
                                <label for="hubid"
                                    class="block mb-2 text-xl font-medium text-gray-900 dark:text-white mb:text-center">Distribution
                                    Hub</label>
                                <select class="bg-gray-50 border border-gray-300 text-gray-900
                                  sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                  w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="hub"
                                    name="hubid">
                                    <option value="" disabled selected>Choose your Distribution Hub</option>
                                    <option value="00000001db42a4ac30ff65d2">Ha Noi</option>
                                    <option value="00000001db42a4ac30ff65d1">Ho Chi Minh City</option>
                                    <option value="00000001db42a4ac30ff65d3">Da Nang</option>
                                </select>
                            </div>
                        </div>
                        <input type="text" name="_id" value="<%= user?._id %>" class="hidden">
                        <div class="pt-12 flex justify-center">
                            <button href="/order" type="submit"
                                class="inline-flex w-96 items-center justify-center rounded-md px-6 py-4 text-lg font-semibold text-white bg-blue-500 hover:bg-blue-600">
                                Place Order
                            </button>
                        </div>
                    </form>
                </div>
                <% } %>
        </div>
        <div class="lg:py-20 lg:ml-20 py-10">
            <div class="mt-8 space-y-3 rounded-2xl border-[3px] border-gray-600 px-2 py-20 lg:px-11 ">
                <div class="flow-root">
                    <ul class="-my-8">
                        <% product.forEach(product=> {%>
                            <li
                                class="flex flex-col space-y-1 border-solid border-0 border-w-700 bg-gray-800 rounded-xl py-1 text-left sm:flex-row sm:space-x-5 sm:space-y-0 mb-7 p-4">
                                <div class="shrink-0 py-3.5 pl-4 justify-center flex">
                                    <img class="h-20 w-20 max-w-full rounded-lg object-cover mt-1 "
                                        src="<%= product.image %>" alt="" />
                                </div>

                                <div class="relative flex flex-1 flex-col justify-between p-4">
                                    <div class="sm:col-gap-5 sm:grid sm:grid-cols-2">
                                        <div class="lg:pr-0 sm:pr-5">
                                            <p class=" text-white-900 flex items-center">
                                            <div class="text-lg font-semibold line-clamp-2 ">
                                                <%= product.name %>
                                            </div>


                                            </p>

                                        </div>
                                        <div
                                            class="mt-4 pt-4 flex items-end justify-between sm:mt-0 sm:items-start sm:justify-end">
                                            <p
                                                class="shrink-0 w-20 text-xl font-semibold text-white-900 sm:order-2 sm:ml-8 sm:text-right">
                                                <%= product.price %>
                                            </p>

                                        </div>
                                    </div>


                                </div>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>