<!-- RMIT University Vietnam 
Course: COSC2430 Web Programming 
Semester: 2023B
Assessment: Assignment 2 
Authors:  Tran Mai Nhung - s3879954          
          Tran Nguyen Ha Khanh - s3877707          
          Nguyen Vinh Gia Bao - s3986287          
          Ton That Huu Luan - s3958304          
          Ho Van Khoa - s3997024 
Acknowledgement:  -->
<section class="flex items-center justify-center">
  <div class="py-14 px-10 lg:px-20 my-20
  flex flex-col items-center justify-center 
  w-10/12 md:w-3/4 lg:w-4/6 lg:max-w-3xl
  rounded-3xl bg-gray-800 border-gray-700 border shadow-md">
    <% if (userRole == 'customer') { %>
    <a href="<%= navigatePage('order-history') %>" class="lg:self-end inline-block mt-5 px-4 py-2 rounded-lg border-2 text-white bg-transparent border-blue-700 hover:bg-blue-700 active:bg-blue-800 focus:outline-none text-lg">
      <i class="fa-solid fa-clipboard"></i> Tracking Orders
    </a>
    <% } %>
    <h1 class="text-center font-bold text-3xl my-4">My Profile</h1>
    <div class="flex items-center justify-center w-full">
      <form action="/my-account" class="m-0 w-full" method="post" enctype="multipart/form-data">
        <div class="flex justify-center mb-5">
          <img src="<%= user?.user?.avatar || '' %>" alt="Profile Picture" class="rounded-full w-36 h-36 object-cover object-center gap-4 shadow-md shadow-slate-700">
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
          <div class="lg:mb-[26px]">
            <label for="avatar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
              Profile
              Picture</label>
            <input type="file" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="avatar" name="avatar">
            <%- include('../partials/input',{ type: "text" , hidden: true, name: "oldAvatar" , id: "oldAvatar" , value:
              user?.user?.avatar }) %>
          </div>
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
            <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="<%= user?.user?.username %>" pattern="[a-zA-Z0-9]{8,15}">
            <p class="text-xs pt-2 text-gray-400">Must be 8 to 15 characters</p>
          </div>
          <% if (user?.user?.role==="customer" ) { %>
          <div class="customer-info role-info" id="name-field">
            <div class="inputBox">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Name</label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 invalid:border-red-500 invalid:text-red-600
                                        sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                        w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                        dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="name" name="name" minlength="5" value="<%= user?.name %>">
              <p class="text-xs pt-2 text-gray-400">Must be at least 5 characters</p>
            </div>
          </div>
          <div class="customer-info role-info" id="customer-name-field">
            <div class="inputBox">
              <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Address</label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 invalid:border-red-500 invalid:text-red-600
                                        sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                        w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                        dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="address" name="address" minlength="5" value="<%= user?.address %>">
              <p class="text-xs pt-2 text-gray-400">Must be at least 5 characters</p>
            </div>
          </div>
          <% } else if (user?.user?.role==="vendor" ) {%>
          <div class="vendor-info role-info" id="vendor-info">
            <div class="inputBox">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Business Name</label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 invalid:border-red-500 invalid:text-red-600
                                              sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                              w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                              dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="busname" name="name" minlength="5" value="<%= user?.name %>">
              <p class="text-xs pt-2 text-gray-400">Must be at least 5 characters</p>
            </div>
          </div>
          <div class="vendor-info role-info" id="address-info">
            <div class="inputBox">
              <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Business Address</label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 invalid:border-red-500 invalid:text-red-600
                                              sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                              w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                              dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="bus-address" name="address" minlength="5" value="<%= user?.address %>">
              <p class="text-xs pt-2 text-gray-400">Must be at least 5 characters</p>
            </div>
          </div>
          <% } else if (user?.user?.role==="shipper" ) {%>
          <div class="vendor-info role-info" id="shipper-info">
            <div class="inputBox">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Name</label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 invalid:border-red-500 invalid:text-red-600
                                                  sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                                  w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="shippername" name="name" minlength="5" value="<%= user?.name %>">
              <p class="text-xs pt-2 text-gray-400">Must be at least 5 characters</p>
            </div>
          </div>
          <% } %>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt-5
        transition duration-300 hover:scale-105">Save
          changes</button>
        <div class="mt-3 flex flex-col md:flex-row justify-between items-end gap-3">
          <a href="/change-password" class="order-last md:order-1 focus:outline-none text-white border border-rose-600 hover:bg-rose-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5" >Change password
          </a>
          <span class="order-first md:order-2">
            <a href="/logout" class="focus:outline-none text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-red-900
            transition duration-300 hover:scale-105">Logout</a>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>