<html lang="en">

<head>
  <%- include ('./partials/head') %>
  <title><%= title %></title>
</head>

<body>
  <%- include ('./partials/nav') %>
  <!-- Pass bodyFile as filename, locals as other arguments -->
  <%- include(bodyFile) %>
  <%- include ('./partials/footer') %>
  <script src="javascript/script.js"></script>
</body>

</html>