<html lang="en">

<head>
  <%- include ('./partials/head') %>
    <title>
      <%= title %> | 1080p Technology
    </title>
</head>

<body class="dark:bg-gray-700 dark:text-white flex flex-col h-screen justify-between">
  <%- include ('./partials/nav') %>
    <!-- Pass bodyFile as filename -->
    <%- include(bodyFile) %>
      <%- include ('./partials/footer') %>
        <script src="javascript/script.js"></script>
</body>

</html>